framework:
    messenger:        
        default_bus: command.bus
        buses:
            command.bus:
                middleware:
                  - doctrine_transaction
            event.bus:
                # the 'allow_no_handlers' middleware allows to have no handler                
                default_middleware: allow_no_handlers
        transports:          
            async: '%env(MESSENGER_TRANSPORT_DSN)%'
            failed: 'doctrine://default?queue_name=failed'
            sync: 'sync://'

        routing:
            App\RentCar\Domain\Model\Car\CarWasCreated: async
            App\RentCar\Domain\Model\Customer\CustomerWasCreated: async
